.app-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.red{
  background-color: #F25022;
}

.green{
  background-color: #7FBA00;
}

.blue{
  background-color: #00A4EF;
}

.yellow{
  background-color: #FFB900;
}

.content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
