.picker-main {
    width: 400px;
    height: 400px;
    margin: 0;
    padding: 0;
    border-color: black;
    border-radius: 1px;
    border-style: solid;
    background-color: white;
}

.button{
  width: 195px;
  height: 195px;
  border-style: none;
}

.margin-right{
  margin-right: 10px;
}

.margin-bottom{
  margin-bottom: 10px;
}

.red{
  background-color: #F25022;
}

.green{
  background-color: #7FBA00;
}

.blue{
  background-color: #00A4EF;
}

.yellow{
  background-color: #FFB900;
}
